td a {
text-decoration:none;
}

.page-image{
background-image:url('images/background1.jpg');
background-size:cover;
height:700px;
width:100%;
margin-top:;
position:relative;
}

body{
background-color:;
}
.poll-text{
position:absolute;
top:50px;
right:160px;
color:white;
}


