{% extends 'base.html' %}
{% block title %}
<title>Detail page</title>
{% endblock %}


{% block content %}
<form action="{% url 'myapp:vote' pollquestion.id %}" method="post">
    <!-- Cross Site Request Forgery Protection -->
    {% csrf_token %}

    <div class="container">
      <h1 class="text-start text-primary">Question No- {{pollquestion.id}}</h1><br>
        <h2 class="mx-4">{{pollquestion.question}}</h2>
        <div class="form-check">
            {% if error_message %}
            <p><strong>{{error_message}}</strong></p>
            {% endif %}

            {% for choice in pollquestion.choices.all %}
            <input class="form-check-input mx-4" type="radio" name="choice" id="choice{{forloop.counter}}"
                   value="{{choice.id}}">
            <label class="form-check-label" for="choice{{forloop.counter}}">{{choice.answer}}</label>
            <br>
            {% endfor %}
        </div>
        <br>
        <button class="btn btn-success" type="submit" value="vote">Vote</button>
    </div>

</form>
{% endblock %}
