{% extends 'myapp/base.html' %}
{% load static %}

    <!-- Page Title -->
    {% block title %} Home {% endblock %}

    <!-- Static CSS -->
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/style.css' %}">
    {% endblock %}



{% block content %}
<!-- {% if user.is_authenticated %} -->
<br>
<h4 class="text-center">Hi {{ user.username }}! Your voice matter </h4>
<p class="text-center">Enjoy voting</p>

<br>
<div class="container p-5">
    {% if latest_question_list %}

    <table class="table table-hover">
        <tbody>
        {% for q in latest_question_list %}
            <tr>
                <td>
       
                       <a href="{% url 'myapp:detail' q.id %}">{{q.question}}</a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    
    {% else %}
    
    <p>No Polling yet</p>
    
    {% endif %}
</div>
<br><br><br>
<!--
{% else %}
<br>
<div class="container">
  <p>You are not logged in</p>
    <p><a href="{% url 'login' %}">Log in</a></p>
</div>
<br><br><br><br><br><br><br><br>
{% endif %} -->
{% endblock %}


